<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - test</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @* <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /> *@
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/test.styles.css" asp-append-version="true" />
</head>

<body>
    

    <div class="login container-fluid overflow-hidden">
        <div class="row">
            <div class="login_img p-0 col-lg-6 col-md-12">
                <img class="img-fluid h-100 pizza_img" src="~/images/dominos_background.jpg" alt="">
            </div>

            <div class="login_body col-lg-6 col-md-12 d-flex flex-column justify-content-center">
                <div class="login_heading d-flex w-100 align-items-center justify-content-center">
                    <img class="img-fluid pizza_shop_logo" src="~/images/logos/pizzashop_logo.png"
                        alt="Pizza shop logo not found">
                    <div class="title fs-4">PIZZASHOP</div>
                </div>

                @RenderBody()
            </div>
        </div>
    </div>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
