@model test.ViewModel.ResetPasswordViewModel;

@{
    ViewData["Title"] = "Reset Password";
}

<div class="login_main">
    <div class="mt-4 mb-3 fs-3">
        Reset Your Password
    </div>

    <form id="loginForm" method="post" >
        <div class="form-floating input_item mb-3">
            <input type="password" class="form-control" id="password" asp-for="NewPassword">
            <label for="floatingInput">Password*</label>
            <small class="text-danger d-none" id="passwordError">Password is Required.</small>
        </div>

        <div class="form-floating input_item mb-3">
            <input type="password" class="form-control" id="password" asp-for="ConfirmPassword">
            <label for="floatingInput">Confirm Password*</label>
            <small class="text-danger d-none" id="passwordError">Password is Required.</small>
        </div>

        <div>
            <button type="submit" class="btn btn-primary w-100 fs-5" asp-controller="Home" asp-action="ResetPassword" >Submit</button>
        </div>

        <a class="back_login mt-2 d-flex justify-content-center" asp-controller="Home" asp-action="Index">Back to login</a>

    </form>
</div>